/* google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

/* Shared style */
.display-flex{
    display: flex;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.text-primary{
    color: #FF900E;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* dark 02 */
.text-gray{
    color: #424242;
}

/* dark 03 */
.text-light-gray{
    color: #727272;
}
.btn-primary{
    background-color: #FF900E;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 18px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
main > section{
    margin-top: 100px;
}

/* header style */

header{
    padding: 50px 0;
}

/* nav style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 2rem;
    font-weight: 500;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    margin-right: 35px;
}

/* banner area */
.banner, .navbar{
    max-width: 1140px;
    margin: 0 auto;
}
.banner-title{
    margin-top: 40px;
    font-size: 4rem;
    font-weight: 700;
}
.banner-content {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-description{
    margin: 30px 0;
}
.banner-image{
    width: 100%;
}

/* main area style */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* team and feature related style */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}
.feature-description{
    margin: 30px 0;
}

/* feature love and enjoy section */
.feature-love{
    gap: 140px;
}
.feature-love-content,
.feature-love-img{
    width: 50%;
}
.feature-love-img img{
    width: 100%;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin: 0;
}
.feature-section-title{
    font-size: 1.25rem;
    font-weight: 600;
}

#experience-badge{
    padding: 35px 32px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -70px;
    margin-left: -100px;
}
#experience-year{
    font-size: 3rem;
    font-weight: 700;
}
/* some fact related style */
.some-fact-description {
    max-width: 540px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
/* sponsors related style */
.sponsor-info{
        max-width: 540px;
        margin: 40px auto;
        text-align: center;
    }
    .sponsor-description {
        margin: 40px 0;
    }
    .sponsor-companies {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .sponsor-companies img{
        filter: grayscale(100%);
    }

/* Responsive style */

/* small devices */
@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams,
    .feature-love{
        flex-direction: column;
    }
    .nav-link{
        margin-right: 0;
    }
    .navbar,
    .banner,
    .sponsor-info,
    .feature-love{
        padding: 0 10px;
    }

    /* team section */
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }

    /* some facts */
    .some-facts{
        padding: 0 10px;
    }
    .facts-container{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 10px;
    }

    /* feature love related style */
    .feature-love-content,
    .feature-love-img {
        width: 100%;
    }
    #experience-badge{
        margin: 0;
    }

    /* Sponsors related style */
    .sponsor-companies{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 50px;
    }   
}

/* medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar{
        flex-direction: column;
        gap: 20px;
    }
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }

    /* some facts */
    .some-facts{
        padding-left: 40px;
    }
    .facts-container,
    .sponsor-companies{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-items: center;
    }
}